.avartar-img {
  vertical-align: middle;
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.avatar-iframe {
  vertical-align: middle;
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

/* .iframe-img-profile {
  width: 80%;
} */